---
import HamburgerButton from "./HamburgerButton.astro";
// import LanguageSelect from "./LanguageSelector.astro";
import Navigation from "./Navigation.astro";
import NpmLightLogo from "../../elements/icons/custom/npm-logo-light-mode.svg?raw";
import NpmDarkLogo from "../../elements/icons/custom/npm-logo-dark-mode.svg?raw";
import SubMenu from "./SubMenu.astro";
import ThemeSelector from "./ThemeSelector.astro";
import VideoModal from "../VideoModal.astro";

import { data } from "../../../util/nav";

interface Props {
  headerStyle: "default" | "colored";
}

const { headerStyle } = Astro.props;
---

<VideoModal />

<header data-style={headerStyle}>
  <div class="inner container">
    <div class="logo and rest">
      <a class="logo" href="https://neptunemutual.com">
        <span class="sr-only">Neptune Mutual</span>
        <span class="light only" set:html={NpmLightLogo} />
        <span class="dark only" set:html={NpmDarkLogo} />
      </a>

      <div
        class="nav with language and theme"
        data-open="false"
        id="MobileMenu"
      >
        <Navigation data={data} />

        <div class="language and theme only">
          <!-- <LanguageSelect /> -->
          <ThemeSelector />
        </div>

        <SubMenu data={data} />
      </div>
    </div>

    <HamburgerButton />
  </div>
</header>

<hr />
